- if @messages.empty?
  .widget_large
    %span.widget_lrg_top
    = render :partial => 'messages/header_links'
    .comments No Message
    %span.widget_lrg_btm
- else
  = render :partial => 'messages'