- receive_messages ||= @receive_messages
- if receive_messages.empty?
  .widget_large
    = render :partial => 'messages/header_links'
    .comments No Message
- else
  = render :partial => 'receive_messages'