- if @profile.educations.blank?
  - @profile.educations.build
= f.semantic_fields_for(:educations) do |builder|
  = render 'education_fields', :f => builder
%div{:class => zebra2}
  = link_to_add_fields(image_tag('add-button.png'), f , :educations)

