%table.middle_panel_profile{:width => "540px"}
  %tr{:align => "left", :valign => "top"}
    %th From
    %th To
    %th University
  -@educations.each do |x|
    %tr
      %td= x.education_from_year
      %td= x.education_to_year
      %td= x.institution
    
