- event_hash = Profile.find_all_happy_days
= title = "Recent Events"
%table
- counter = ""
- event_hash.each do |b|
  - klass = before_after(b[1][:from_today])
  - unless counter == klass
    - counter = klass
    %tr
      %td &nbsp;
      %td &nbsp;
      %td
        %b= klass.titlecase
        %br
  - if current_user
    = render :partial => 'profiles/greet_row',:collection => b[1][:birthdays],:locals => {:klass => klass, :field => 'date_of_birth',:title => 'Birthday', :profile => b}
    = render :partial => 'profiles/greet_row',
        :collection =>  b[1][:anniversaries],
        :locals => {:klass => klass,
        :field => 'anniversary_date',
        :title => 'Anniversary', :profile => b}