- feed_items ||= @feed_items
- unless feed_items.empty?
  .widget_large
    %span.widget_lrg_top
    /= slide_up_down_header('show','recent_activities','Recent Activity')
    #recent_activities
      - feed_items.each do |feed_item|
        - next unless feed_item.item
        = render( :partial => "feed_items/#{feed_item.partial}", :locals => {:feed_item => feed_item})
    %span.widget_lrg_btm