- rounded_med_corner(:title => "Upload Icon", :id => "upload_photo") do
  = semantic_form_for @profile,:html => { :multipart => true } do |f|
    = f.inputs do
      = f.input :icon, :label => "Upload your Icon (<=5Mb)"
      = f.commit_button :label => "Update"