= semantic_form_for @profile,:html => { :multipart => true } do |f|
  = f.inputs do
    = f.input :icon, :label => "Upload your Icon (<=5Mb)", :input_html => {:class => "text_field"}, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
