#work_informations
  - if @profile.works.blank?
    - @profile.works.build
  = f.semantic_fields_for(:works) do |builder|
    = render "work_fields", :f => builder
  .row_light2
    = link_to_add_fields(image_tag('add-button.png'), f , :works)