%hr
<center> <h2> Edit Account </h2> </center>
%hr
= render :partial => "profiles/set_permissions"
%hr
=# render :partial => "profiles/notification"
%hr
= render :partial => "users/change_password"
%hr
= render :partial => "profiles/change_email"
%hr
= render :partial => "profiles/default_permission"
%hr

