.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width= @title.titleize
  = render :partial => 'shared/mini_profile', :collection => @profiles
  %span.widget_complete_btm
%br
= will_paginate @profiles