- @tags = Blog.tag_counts_on(:tags)
.widget_small
  %span.widget_small_top
  .widget_title Blog Tags:
  - tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class|
    %span{:class => (css_class)}
    = link_to tag.name, show_blogs_profile_blog_path(@p, tag.name)
  .clear_div
  %span.widget_small_btm

