-blogs =  @blogs
#column_l
  %h2.page_title
    = @profile.full_name
    's Blogs
    =link_to image_tag('add_new_post.png', :title=>"Create New Blog Post", :class=>"add_new_post2"), new_profile_blog_path(@profile)
  - if @blogs.empty?
    .widget_large
      .comments
        = @profile.full_name
        has no blog posts.
      %span.widget_lrg_btm
  - else
    = render :partial => 'blogs/blog', :collection => blogs
    .clear_div
    = will_paginate @blogs
