%h2.widget_title New Eevnt
- form_for @event, :url => admin_events_path, :html => {:method=>:post} do |form|
  = render :partial => 'form' , :locals =>{:f => form}
  %div
    %button.buttons{:type => "submit"}
      = image_tag("save.png")
