%h1 New Event
- if params[:preview_button]
  = render 'preview'
- form_for @event, :url => admin_events_path, :html => {:method=>:post} do |form|
  = render :partial => 'form' , :locals =>{:f => form}
