- @comments = Comment.comments_on_object(@profile)
- comment_on = @profile
#comment.widget_large
  %span.widget_lrg_top
  = slide_up_down_header('user_comments',"Comments")
  .slidecontent
    #user_comments
      = render :partial => 'comments/form', :locals => {:comment_on => @profile}
      %div{:id => "#{@p.id}_comments"}
        = render @comments
  %span.widget_lrg_btm