-@commt = Comment.find(:all, :conditions => { :commentable_id => commt.id})
-@commt.each do |c|
  %p
  %b
    = c.comment
    = link_to image_tag('delete.png',:border =>0), c , :method => :delete
  %br