%h1 Request for  Friend's
- @r_friends.each do |r_friend|
  %table
  %div{:style => "width:'250px'"}
  %tr
    %td= link_to gravatar_image_tag(r_friend.invited_id,:class => 'gravatar', :gravatar => { :size => 50 }), home_path(Profile.find(r_friend.inviter_id).user_id)
    %td= [user_find(r_friend.inviter_id).first_name, user_find(r_friend.inviter_id).middle_name, user_find(r_friend.inviter_id).last_name ].join(" ")
    %td= link_to "confirm", friend_path(r_friend), :method => :put
    %td= link_to "remove", r_friend, :method => :delete
    