.widget_large
  %span.widget_lrg_top
  = slide_up_down_header(type,"#{type}", 'sliding')
  .slidecontent
    - if !list.blank?
      = render :partial  => "shared/mini_profile", :collection => list
    - else
      %span.comments Not Found
  %span.widget_lrg_btm