= render 'friends/list' , :type => 'Follower', :list => @follower_friends
= render 'friends/list' , :type => 'Following', :list => @following_friends
= render 'friends/list' , :type => 'Friend', :list => @friends

    