%h2 Mansinghites'Alumni Association
-if !@follower_friends.blank?
  = render 'follower_friend'
-if !@following_friends.blank?
  = render 'following_friend'
-if !@friends.blank?
  = render 'friend'
    