/* 
    Document   : application
    Created on : 11 Feb, 2011, 1:57:16 PM
    Author     : kirti
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
  background-color: #ffc600;
  background-image: url(/images/bg_gradient.png);
  background-repeat: repeat-x;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #b93232;
  text-decoration: underline;
  position: relative;
}
a:hover{
  text-decoration: none;
}

root { 
  display: block;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.header_back{
  position: fixed;
}

* html .header_back{
  margin-bottom: -190px;
}
