/* 
    Document   : application
    Created on : 11 Feb, 2011, 1:57:16 PM
    Author     : kirti
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
  background-color: #ffc600;
  background-image: url(/images/bg_gradient.png);
  background-repeat: repeat-x;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: #b93232;
  text-decoration: underline;
  position: relative;
}
a:hover{
  text-decoration: none;
}


/****** Utilities *******/
.hide{
  display: none;
}

label, h2, h3 {
  padding: 0px;
  margin: 0px;
  float: left;
}

p{
  padding: 0px;
  margin: 0px;
  float: none;
}

.clear_div{
  clear: both;
}

img{
  border: 0;
}

.left{
  float: left;
}


/****** Content CSS ******/
.main_container{
  background-image: url(/images/main_container_bg.png);
  background-repeat: repeat-y;
  width: 996px;
  margin: 0 auto;
}

* html .main_container{ /** IE 6 hack **/
  background-image:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src='/images/main_container_bg.png');
}

.header_container{
  background-image: url(/images/header.jpg);
  width: 996px;
  height: 128px;
}
