/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset > ol > li p.inline-hints { color:#333; }
HINT:
The following style may be *conditionally* included for improved support on older versions of IE(<8)
form.formtastic fieldset ol li fieldset legend { margin-left: -6px;}

--------------------------------------------------------------------------------------------------*/

form.formtastic input, form.formtastic select, form.formtastic text_field, form.formtastic password_field, form.formtastic country_select, form.formtastic collection_select{
  border: #CCCCCC 1px solid;
  font-size: 11px;
  width: 200px;
  margin-right: 5px;
  cursor: help;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
}

form.formtastic fieldset > ol > li.text textarea {
  border: #CCCCCC 1px solid;
  font-size: 11px;
  width: 200px;
  height: 150px;
}

form.formtastic fieldset > ol > li label {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 12px;
  float: left;
  width: 170px;
  text-align: right;
  margin-top: 4px;
}

form.formtastic fieldset > ol > li {
  margin-bottom: 0.1em;
}

form.formtastic fieldset > ol > li.string input {
    max-width: 74%;
}

form.formtastic fieldset > ol > li.optional {

}

  form.formtastic input.linkedin_icon{
    background-image: url(/images/linkedin.jpg);
    background-repeat: no-repeat;
    padding:4px 4px 4px 20px;
  }
  form.formtastic input.twitter_icon{
    background-image: url(/images/twitter_icon.png);
    background-repeat: no-repeat;
    padding:4px 4px 4px 20px;
  }
  form.formtastic input.yahoo_icon{
    background-image: url(/images/yahoo.png);
    background-repeat: no-repeat;
    padding:4px 4px 4px 20px;
  }
  form.formtastic input.skype_icon{
    background-image: url(/images/skype.ico);
    background-repeat: no-repeat;
    padding:4px 4px 4px 20px;
  }
  form.formtastic input.msn_icon{
    background-image: url(/images/live.png);
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;
  }
  form.formtastic input.aim_icon{
    background-image: url(/images/aim.jpg);
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;

  }
  form.formtastic input.flickr_icon{
    background-image: url(/images/flickr.jpg);
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;
  }
  form.formtastic input.gtalk_icon{
    background-image: url(/images/gtalk.jpg);
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;
  }
  form.formtastic input.delicious_icon{
    background-image: url(/images/delicious.jpg);
    background-repeat: no-repeat;
    padding: 4px 4px 4px 20px;
  }
  form.formtastic input.large_text_box{
    width: 450px;
    border: #CCCCCC 1px solid;
  }
  form.formtastic fieldset > ol > li p.inline-errors {
    color: #CC0000;
    margin: 0.5em 0 10px 71%;
  }
  form.formtastic fieldset > ol > li.password input{
    max-width: 20em;
  }
  form.formtastic ol, form.formtastic ul .cursor{
    list-style:none;
    margin: 0 6 0;
    font-size: medium;
  }
 