= semantic_form_for(@profile) do |form|
  - rounded_med_corner(:id => "set_permissions", :title => "Permissions") do
    %table.permission_table
      %tr
        %td &nbsp;
        %td Just Me
        %td My Friends
        %td Everyone
      = raw form.render_associated_form(current_user.profile.profile_permissions)
    = form.commit_button "Update Permissions"
  %input{:name => "switch", :type => "hidden", :value => "permissions"}