.footer_text_top= SITE_DESC
.footer_text_left
  = raw SiteContent.get_content('footer','footer_links' )
.footer_text_right
  %em
    Rising Sun &copy; #{Time.now.year}
    = link_to image_tag('RisingSun_logo.gif'), "http://www.risingsuntech.net"

