-if current_user.blank?
  = render :partial => "devise/sessions/login"
- unless @profile
  -rounded_corner(:title => 'Newest Members', :size => 'small') do
    = render :partial => "profiles/newest_member", :collection => Profile.new_member
 