.profile_pic_panel
  .profile_img_wrap
    = image_tag(newest_member.icon.url(:small_20))
  %span{:class => cycle('odd','even')}
    = link_to h(newest_member.f(18)), newest_member
    %br
    = newest_member.group
