- rounded_corner(:size => :small, :title => 'Profile Actions') do
  .profile_div
    .profile_links
      %div= render "homes/friend_status", :profile => @profile
      %div= link_to 'Direct Message', direct_message_profile_messages_path(@profile)
      %div= link_to('Read My Blogs', blogs_path(@profile))
      %div= link_to('See My Polls', polls_path(@profile))
 
