= form_tag friend_search_profiles_path, :method => :get do
  - default_text = params[:search].try(:[],:q)
  = text_field_tag 'search[q]', default_text, :id => 'search_q', :class => "search_textbox", :placeholder => "Search for Friends"
  %button.search_btn{:type => "submit"}