= semantic_form_for(:profile, :url=>friend_search_profiles_path, :method=>:get) do |f|
  = f.input :search_value, :label=>"", :as => :string,:input_html=>{ :class => "search_textbox"}
  = f.commit_button :button_html => {:value=>"", :class => "search_btn" }