= render :partial => 'friendships/list' , :locals => {:type => 'Follower', :list => @follower_friends}
= render :partial => 'friendships/list' , :locals => {:type => 'Following', :list => @following_friends}
= render :partial => 'friendships/list' , :locals => {:type => 'Friend', :list => @friends}

    