- if @poll.poll_options.blank?
  - 2.times{@poll.poll_options.build}
= f.input :question, formtastic_zebra(:input_html => {:class=>'poll_input_text'})
= f.semantic_fields_for(:poll_options) do |form|
  = render "poll_option_fields", :f => form
.row_dark
  = link_to_add_fields(image_tag('add-button.png'),f,:poll_options)