- profile ||= @profile
- size ||= 10
- polls ||= profile.polls.find :all, :limit => size
- total = profile.polls.count
- unless polls.empty?
  .widget_large
    %span.widget_lrg_top
    Most Recent Polls
    ="(latest " + "#{polls.size }" + " of " + "#{total > size ? link_to( total, polls_path(profile)) : total} )"
    #polls_info
      .complete_middle_panel
        - polls.each do |p|
          .comments
            %img{:src => "/images/poll_icon.png"}
            = link_to p.question, profile_poll_path(p.profile,p)
            written #{time_ago_in_words p.created_at} ago
            %br
    %span.widget_lrg_btm