.fields
  = f.input :option, formtastic_zebra(:label => "Option", :input_html => {:maxlength => 25,:class=>'poll_input_text'})
  %div{:class => cycle(:row_light, :row_dark)}
    = link_to_remove_fields(image_tag("remove.png"), f)