.fields
  = f.input :option, :label => "Option", :input_html => {:maxlength => 25,:class=>'poll_input_text'},:wrapper_html => {:class => cycle(:row_light, :row_dark)}
  %div{:class => cycle(:row_light, :row_dark)}
    = link_to_remove_fields(image_tag("remove.png"), f)