%div
  %h2.page_title
    = @poll.profile.full_name
    's poll
    = link_to image_tag('add.png',:title=>"Create New poll", :class=>"add_new_post2"),new_poll_path
  = render "polls/poll", :poll =>@poll