- comment = feed_item.item
%div
  .comments
    %img{:alt => "User Comment Icon", :src => "/images/callout_bubble.gif", :title => "User Comment Icon"}
    = (commentable_text comment).html_safe
  = x_feed_link(feed_item) if me