- form_for @announcement, :url => admin_announcement_path, :html => {:method=> :put} do |form|
  = rounded_corner(:title => "Edit Announcement", :size => 'lrg') do
    = render :partial => 'form', :locals => {:f => form}
    .large_btn_container2
      %button.buttons{:type => "submit"}
        = image_tag('Update.png')