- if @pictures.blank?
  .comments= SITE_NOT_RECORD_MSG
- else
  #gallery.content
    #controls.controls
    #loading.loader
    #slideshow.slideshow
    #caption.embox
  #thumbs.navigation
    %ul.thumbs.noscript
      - @pictures.each do |f|
        %li
          %a.thumb{:href => f.image.url('original')}
            = image_tag(f.image.url('original'), :alt => @pictures.name, :width => 75, :height => 75)
          .caption.image-title= f.caption
:javascript
  gallery();

