- rounded_corner(:size => :small, :title => 'Login With...') do
  = link_to image_tag('twitter_32.png'), "/auth/twitter"
  = link_to image_tag('facebook_32.png'), "/auth/facebook"
  = link_to image_tag('linkedin_32.png'), "/auth/linked_in"
  = link_to image_tag('yahoo_32.png'), "/auth/yahoo"
  =# link_to "sign in with google", user_omniauth_authorize_path(:open_id, :openid_url => "https://www.google.com/accounts/o8/id")