- rounded_corner(:size => :small, :title => 'Login With...') do
  = link_to image_tag('twitter_icon.png'), "/auth/twitter"
  = link_to image_tag('facebook-icon.png'), "/auth/facebook"
  = link_to image_tag('linkedin_icon.png'), "/auth/linked_in"
