- rounded_corner(:size => :small, :title => 'Login With...') do
  = link_to image_tag('twitter_32.png'), "/auth/twitter"
  = link_to image_tag('facebook_32.png'), "/auth/facebook"
  = link_to image_tag('linkedin_32.png'), "/auth/linked_in"
