.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width Location Of All Users
  .middle_panel_profile
    = raw GMap.header()
    = javascript_include_tag("markerGroup")
    - show_map()
    = raw @map.to_html
    = raw @map.div(:width => 975, :height => 600)
  %span.widget_complete_btm
