= form_for(@house_name, :as=> :house_name, :url => add_house_name_admin_preferences_path, :html =>{:method => :put}) do |t|
  .row_complete
    = t.label :name
    = t.text_field :name, :title => "Title", :class => "text_field"
  %button.buttons{:type => "submit"}
    = image_tag('save.png')