#column_l
  %h2.page_title
    = SITE_NAME
    = link_to image_tag('add_new_post.png',                                  |
      :title=> "Create New image",                     |
      :class=>"add_new_post2"),                                              |
      new_profile_photo_path(@p)
    = render :partial => 'photos/photo', :collection => @photos