.forum_text
  .author_panel
    =link_to image_tag(set_icon(@forum_topic.owner,'small')), "#"
    .profile_links
      %div
        %strong= link_to @forum_topic.owner.f, "#"
      Location:
      = link_to @forum_topic.owner.location
      %div
        Group:
        = @forum_topic.owner.group
      %div
        Posted:
       