<% if @args %>
  jQuery("#poll_errors_poll_<%= @vote.poll_id%>").replaceWith("<%= escape_javascript(render 'polls/poll_response', :poll => @vote.poll)%>");
  <% else %>
  jQuery("form.poll").prepend("<div id='poll_messages' class='error_msg'>Please select a option</div>");
<% end %>