%h2 Default Permission
= semantic_form_for :account, :url => { :controller => 'accounts', :action => 'update_default_permission'} do |a|
  = a.input :default_permission, :as => :select, :collection => ["My Self", "My Friends", "Everyone"], :label => "Default Permission", :prompt => false
  = a.commit_button "Set Default"
